---
// Component imports and setup JavaScript go here!

import Test from '../components/Test.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
			@import "open-props/postcss/style";
			@import "open-props/postcss/normalize"; 
		</style>
	</head>

	<body>
		<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
		<Test />
	</body>
</html>
