---
---


<section>
 <h2> Hover me: if Postcss-Nesting works I'm green</h2>
 <p class="gradient-text">If Open Props work I'm a cool gradient Text</p>
</section>


<style>

h2{
    font-size: 3rem;

    &:hover{
        color: green;
    }
}

.gradient-text {
  font-size: var(--font-size-6);
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

</style>